{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "strict": 0,
    "indent": [2, "tab", {"SwitchCase": 1}],
    "comma-dangle": 2,
    "no-unused-vars": [2, {"args": "none"}],
    "no-console": 0,
    "no-var": 2,
    "space-before-function-paren": [2, { "anonymous": "always", "named": "never" }],
    "semi": [2, "always"],
    "space-infix-ops": 0,
    "max-len": [2, 200, 2],
    "padded-blocks": 0,
    "no-multiple-empty-lines": 0
  }
}
